body{
    width: 100vw;
    
    height: auto;
}
#appCore{
    text-align: center;
    height: 100%;
}
table{
    width: 100%;
    margin: auto;
    margin-top: 15px;
    border-top: rgba(200,200,200,0.5) solid 1px;
    border-bottom: rgba(200,200,200,0.5) solid 1px;
}
.rank{
    text-align: center;
    width: 35px;
}
.nom{
    padding-left: 5px;
    width: 120px;
    min-width: 50px;
    max-width: 200px;
    overflow-x: hidden;
}
.progressBarDiv{
    text-align: left;
    max-width: 200px;
}
.score{
    text-align: center;
    width: 60px;
}
.even{
    background-color: rgba(230,230,230,0.6);
}
tr{
    height: 40px;
    text-align: left;
}
#classementTitle{
    margin-top: 15px;
}
#first{
    height: 60px;
    font-size: 1.3em;
}
#second{
    height: 50px;
    font-size: 1.2em;
}
#third{
    height: 45px;
    font-size: 1.1em;
}
#userClassement{
    border-top: rgba(100,100,100,0.5) solid 2px;
    border-bottom: rgba(100,100,100,0.5) solid 2px;
    margin-bottom: 1px;
}
#userRow{
    height: 45px;
    font-size: 1.3em;
    background-color: rgba(104, 142, 183, 0.3);
}
#classementExaTitle{
    margin-top: 30px;
}
#graphClassementExa{
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    margin: auto;

}
#graphDiv{
    width: 80vw;
    height: 50vh;
    margin: auto;
    min-height: 250px;
}
#classementExa{
    height: 100%;
    width: 100%;
}
#utilisateurs{
    color: #78a54a;
}
#seuildereussite{
    color: #f4a142;
}