
body{
    background-color: #FFFFFF;
}
#appCore{
    background-color: #FFFFFF;
}

#questionBoxes{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
    font-size: 0.8em;
    padding: 0;
}
.questionBoxtrue{
    background-color: rgba(0,130,0,0.6);
    width: 22%;
    min-width: 22%;
    flex-grow: 1;
    height: 70px;
    line-height: 70px;
    border : 1px black solid;
    text-align: center;
    margin: 1px;
}
.questionBoxfalse{
    background-color: rgba(255, 10, 10,0.6);
    width: 22%;
    min-width: 22%;
    flex-grow: 1;
    height: 70px;
    line-height: 70px;
    border : 1px black solid;
    text-align: center;
    margin: 1px;
}
table{
    width: 80%;
}
th{
    border: 1px black solid;
    text-align: center;
}
tr{
    width: 80%;
}
td{
    border: 1px black solid;
}
#recapHeader{
    margin-left: 15px;
    margin-top: 25px;
    margin-bottom: 20px;
}
