p{
    position: absolute;
    left: 90px;
    
}
h4{
    position: absolute;
    left: 40px;
}
.app{
}
#navBar{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.interItemLine {
    position: absolute;
    bottom: 0;
    height: 1px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background-color: #444;
    width: 90%;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}
#appCore{
    background-color: #FFFFFF;
}
.list-group-item{
    height: 100px;
    border: 0;
    background-color: #FFFFFF;
}