p{
    position: absolute;
    left: 90px;
    
}
h4{
    position: absolute;
    left: 40px;
}
.app{
}
#navBar{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}
#appCore{
    background-color: #FFFFFF;
}
#questionBoxes{
    display: flex;
    flex-wrap: wrap;
}
.questionBoxtrue{
    background-color: rgb(0,200,0,0.7);
    width: auto;
    min-width: 20%;
    max-width: 50%;
    height: 70px;
}
.questionBoxfalse{
    background-color: rgb(255,0,0,0.7);
    min-width: 20%;
    max-width: 50%;
    height: 70px;
}
table{
    width: 80%;
}
th{
    border: 1px black solid;
    text-align: center;
}
tr{
    width. 80%;
}
td{
    border: 1px black solid;
}