p{
    position: absolute;
    left: 90px;
    
}
h4{
    position: absolute;
    left: 40px;
}
.app{
}


body{
    background-color: #FFFFFF;
}
#appCore{
    background-color: #FFFFFF;
}
#divAroundQuestionBoxes{
    width: 100%;
    border: 1px red solid;
    box-sizing: border-box;

}
#questionBoxes{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    font-size: 0.8em;
    border: 1px blue solid;
    padding: auto;
}
.questionBoxtrue{
    background-color: rgba(0,130,0,0.6);
    width: 22%;
    min-width: 22%;
    max-width: 22%;
    height: 70px;
    line-height: 70px;
    border : 1px black solid;
    text-align: center;
    margin: 1px;
}
.questionBoxfalse{
    background-color: rgba(255, 10, 10,0.6);
    width: 22%;
    min-width: 22%;
    max-width: 22%;
    height: 70px;
    line-height: 70px;
    border : 1px black solid;
    text-align: center;
    margin: 1px;
}
table{
    width: 80%;
}
th{
    border: 1px black solid;
    text-align: center;
}
tr{
    width. 80%;
}
td{
    border: 1px black solid;
}