.card{
    padding-right: 10px;
    padding-left: 10px;
}
.card-body{
    overflow-y: scroll;
}
#questionZone{
    height: 35%;
}
#enonce{
}
html{
    height: 100%;
}
body{
    background-color: #FFFFFF;
    height: 100%;
    
    
}
#answerZone{
    padding: 20px;
    height: auto;
    min-height: 230px;

}
#theme{
    padding-bottom: -5px;
}
#questionType:hover{
     cursor: help;
}
label{
    font-size: 1.5em;
    margin-bottom: 10px;
}
.repdiv{
    margin-bottom: 10px;
    border-bottom: 1px grey solid;   
}
#reponse5{
    
}
footer{
    max-height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}
.progress{
    position: fixed;
    height: 15px;
    bottom: 0;
}
.custom-control-label{
    font-size: 1em;
}
.custom-control{
    border-radius: 2px;
}
#buttons{
    display: flex;
}
#nextquestionbutton{
    text-align: right;
    font-size: 3em;
    padding-right: 45px;
    margin-bottom: 20px;
}
#checkAnswerButtonDiv{
    text-align: center;
    font-size: 3em;
}
#lastquestionbutton{
    text-align: left;
    font-size: 3em;
    padding-left: 45px;
    margin-bottom: 20px;
    opacity: 0.5;
}
